.blog {
  margin-top: 225px;
  @media (max-width: 425px) {
    margin-top: 24px;
  }
  &__container {
    width: 100%;
    max-width: calc(1165px + 48px);
    margin: 0 auto;
  }
  &__slider-container {
    position: relative;
    padding: 0 24px;
  }
  .glider-track {
    gap: 32px;
    @media (max-width: 425px) {
      gap: 0px;
    }
  }
  &__slider-item {
    background: $white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    @media (max-width: 425px) {
      margin-right: 8px;
      margin-left: 8px;
    }
  }
  &__slider-image {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  &__slider-content {
    padding: 0 24px;
  }
  &__slider-title {
    margin: 10px 0 0;
    font-size: 20px;
    color: $fiord;
  }
  &__slider-resume {
    color: #8c94a8;
    font-size: 16px;
  }
  .glider-prev,
  .glider-next {
    top: 50%;
    @media (max-width: 1024px) {
      display: none;
    }
  }
  .glider-next {
    right: -36px;
  }
  .glider-prev {
    left: -36px;
  }
  .dots {
    display: none;
    @media (max-width: 425px) {
      display: flex;
      margin-top: 24px;
    }
  }
  .glider-dot {
    width: 1rem;
    height: 1rem;
  }
  .glider-dot.active {
    background: $havelockBlue;
  }
}

.about-us {
  margin-top: 95px;
  &__container {
    width: 100%;
    max-width: calc(1165px + 48px);
    margin: 0 auto;
    display: flex;
    gap: 32px;
    padding: 0 24px;
    @media (max-width: 425px) {
      flex-direction: column;
    }
  }
  &__image {
    align-self: flex-start;
  }
  &__title {
    margin: 0;
    font-weight: normal;
    font-size: 26px;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    color: $havelockBlue;
  }
  &__text {
    margin: 1rem 0 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #3e4d60;
  }
}
