.header {
  transition: all 0.5s ease;
  transform: translateY(-100%);
  @media (max-width: 425px) {
    &--menu-mobile {
      height: 100vh;
      width: 100%;
      position: fixed;
      background: $havelockBlue;
      z-index: 1;
    }
  }
  &--fixed {
    position: fixed;
    width: 100%;
    transform: translateY(0%);
    height: 96px;
    background: #4A90E2;
    z-index: 2;
  }
  &--fixed & {
    &__container {
      top: 0;
      margin-top: 12.5px;
    }
  }
  &__container {
    top: 50px;
    width: 100%;
    max-width: calc(1165px + 48px);
    background: transparent;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    @media (max-width: 425px) {
      top: 24px;
      flex-wrap: wrap;
      z-index: 1;
    }
  }
  &__nav {
    @media (max-width: 425px) {
      display: none;
      margin-top: 50px;
      min-width: 100%;
    }
    &--active {
      display: block;
    }
  }
  &__logo-container {
    flex-basis: 50%;
  }
  &__button {
    flex-basis: 50%;
  }
  &__menu {
    @include reset-list;
    display: flex;
    @media (max-width: 425px) {
      flex-direction: column;
      width: 100%;
    }
    &-item {
      margin-right: pxToRem(40);
      &:last-child {
        margin-right: 0;
        @media (max-width: 425px) {
          margin-bottom: 0;
        }
      }
      @media (max-width: 425px) {
        margin-right: 0;
        margin-bottom: 50px;
        text-align: center;
      }
    }
    &-link {
      color: $white;
      text-decoration: none;
      @media (max-width: 425px) {
        font-size: 20px;
      }
    }
  }
  &__button {
    display: none;
    @media (max-width: 425px) {
      &-line {
        display: block;
        width: 30px;
        height: 2px;
        background: $white;
        border-radius: 5px;
        transition: 0.5s ease;
        &::after,
        &::before {
          background: $white;
          width: 30px;
          height: 2px;
          border-radius: 5px;
          display: block;
          content: '';
          position: absolute;
        }
        &::before {
          top: 9.5px;
        }
        &::after {
          bottom: 9.5px;
        }
        &--active {
          transform: rotate(45deg);
          &::before {
            transform: rotate(90deg);
            top: 0px;
          }
          &::after {
            transform: rotate(90deg);
            bottom: 0px;
          }
        }
      }
    }
    @media (max-width: 425px) {
      background: transparent;
      border: none;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      height: 40px;
    }
  }
}
